<a href="https://colab.research.google.com/github/himpactlab/Miscellaneous/blob/main/Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals: Data Structures, Control Flow & Functions

This notebook covers the essential building blocks of Python programming:
- **Basic Data Structures**: Lists, Dictionaries, Tuples, and Sets
- **If Statements**: Decision making in code
- **For Loops**: Iteration and repetition
- **Functions**: Creating reusable code blocks

Each section includes detailed explanations and practical examples.

In [2]:
# Examples of Basic Python Data Types

# 1. String (str) - ordered, immutable sequence of characters
my_string = "Hello, Python!"
print(f"String: {my_string}, Type: {type(my_string)}")

# 2. Integer (int) - whole numbers (positive, negative, or zero)
my_integer = 123
print(f"Integer: {my_integer}, Type: {type(my_integer)}")

# 3. Float (float) - numbers with a decimal point
my_float = 3.14159
print(f"Float: {my_float}, Type: {type(my_float)}")

# 4. Boolean (bool) - represents truth values (True or False)
my_boolean_true = True
my_boolean_false = False
print(f"Boolean True: {my_boolean_true}, Type: {type(my_boolean_true)}")
print(f"Boolean False: {my_boolean_false}, Type: {type(my_boolean_false)}")

String: Hello, Python!, Type: <class 'str'>
Integer: 123, Type: <class 'int'>
Float: 3.14159, Type: <class 'float'>
Boolean True: True, Type: <class 'bool'>
Boolean False: False, Type: <class 'bool'>

## 1. Basic Data Structures

Data structures are ways to organize and store data in Python. Let's explore the four main types:

### 1.1 Lists

**What is a List?**
- A list is an ordered collection of items
- Items can be of different data types
- Lists are **mutable** (can be changed after creation)
- Lists are defined using square brackets `[]`
- Items are separated by commas

In [7]:
# Creating lists
fruits = ["apple", "banana", "orange", "grape"]
numbers = [1, 2, 3, 4, 5]
mixed_list = ["hello", 42, 3.14, True]

print("Fruits:", fruits)
print("Numbers:", numbers)
print("Mixed list:", mixed_list)

Fruits: ['apple', 'banana', 'orange', 'grape']
Numbers: [1, 2, 3, 4, 5]
Mixed list: ['hello', 42, 3.14, True]

In [9]:

# Accessing elements (indexing starts at 0)
print("\nFirst fruit:", fruits[0])
print("Last fruit:", fruits[-1])  # Negative indexing

# Modifying lists
fruits.append("mango")  # Add to end
fruits.insert(1, "kiwi")  # Insert at specific position
print("\nAfter modifications:", fruits)

# List length
print("Number of fruits:", len(fruits))

First fruit: apple
Last fruit: grape

After modifications: ['apple', 'kiwi', 'banana', 'orange', 'grape', 'mango']
Number of fruits: 6

### 1.2 Dictionaries

**What is a Dictionary?**
- A dictionary stores data in **key-value pairs**
- Keys must be unique and immutable (strings, numbers, tuples)
- Values can be any data type
- Dictionaries are **mutable**
- Defined using curly braces `{}`
- Very fast for lookups by key

In [14]:
# Creating dictionaries
student = {
    "name": "Alice",
    "age": 20,
    "grade": "A",
    "subjects": ["Math", "Physics", "Chemistry"]
}

print("Student information:", student)

Student information: {'name': 'Alice', 'age': 20, 'grade': 'A', 'subjects': ['Math', 'Physics', 'Chemistry']}

In [16]:
# Accessing values
print("Student name:", student["name"])
print("Student age:", student["age"])

Student name: Alice
Student age: 20

In [17]:
# Adding/modifying values
student["email"] = "alice@example.com"  # Add new key-value
student["age"] = 21  # Modify existing value

In [18]:
print("\nUpdated student:", student)

Updated student: {'name': 'Alice', 'age': 21, 'grade': 'A', 'subjects': ['Math', 'Physics', 'Chemistry'], 'email': 'alice@example.com'}

In [19]:
# Dictionary methods
print("\nAll keys:", list(student.keys()))

All keys: ['name', 'age', 'grade', 'subjects', 'email']

In [20]:
print("All values:", list(student.values()))

All values: ['Alice', 21, 'A', ['Math', 'Physics', 'Chemistry'], 'alice@example.com']

In [21]:
print("Key-value pairs:", list(student.items()))

Key-value pairs: [('name', 'Alice'), ('age', 21), ('grade', 'A'), ('subjects', ['Math', 'Physics', 'Chemistry']), ('email', 'alice@example.com')]

### 1.3 Tuples

**What is a Tuple?**
- A tuple is an ordered collection of items
- Tuples are **immutable** (cannot be changed after creation)
- Defined using parentheses `()` or just commas
- Useful for storing related data that shouldn't change
- Can be used as dictionary keys (unlike lists)

In [22]:
# Creating tuples
coordinates = (10, 20)
rgb_color = (255, 128, 0)
person = ("John", "Doe", 25, "Engineer")

In [23]:

print("Coordinates:", coordinates)
print("RGB Color:", rgb_color)
print("Person:", person)

Coordinates: (10, 20)
RGB Color: (255, 128, 0)
Person: ('John', 'Doe', 25, 'Engineer')

In [24]:
# Accessing elements
print("\nX coordinate:", coordinates[0])
print("Y coordinate:", coordinates[1])

X coordinate: 10
Y coordinate: 20

In [25]:
# Tuple unpacking
x, y = coordinates
print(f"\nUnpacked - X: {x}, Y: {y}")

Unpacked - X: 10, Y: 20

In [26]:
first_name, last_name, age, job = person
print(f"Name: {first_name} {last_name}, Age: {age}, Job: {job}")

Name: John Doe, Age: 25, Job: Engineer

In [27]:
# Tuples are immutable - this would cause an error:
coordinates[0] = 15  # TypeError!

TypeError: 'tuple' object does not support item assignment

### 1.4 Sets

**What is a Set?**
- A set is an unordered collection of **unique** items
- No duplicate values allowed
- Sets are **mutable**
- Defined using curly braces `{}` or `set()` function
- Great for removing duplicates and set operations (union, intersection)

In [28]:
# Creating sets
unique_numbers = {1, 2, 3, 4, 5}
colors = {"red", "green", "blue", "red"}  # Duplicate "red" will be removed

In [29]:

print("Unique numbers:", unique_numbers)
print("Colors (duplicates removed):", colors)

Unique numbers: {1, 2, 3, 4, 5}
Colors (duplicates removed): {'blue', 'red', 'green'}

In [30]:
# Creating set from list (removes duplicates)
numbers_list = [1, 2, 2, 3, 3, 3, 4, 5]
unique_from_list = set(numbers_list)
print("\nOriginal list:", numbers_list)
print("Unique from list:", unique_from_list)

Original list: [1, 2, 2, 3, 3, 3, 4, 5]
Unique from list: {1, 2, 3, 4, 5}

In [31]:
# Set operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

In [32]:
print("\nSet 1:", set1)
print("Set 2:", set2)
print("Union (all elements):", set1 | set2)
print("Intersection (common elements):", set1 & set2)
print("Difference (in set1 but not set2):", set1 - set2)

Set 1: {1, 2, 3, 4}
Set 2: {3, 4, 5, 6}
Union (all elements): {1, 2, 3, 4, 5, 6}
Intersection (common elements): {3, 4}
Difference (in set1 but not set2): {1, 2}

In [33]:
# Adding/removing elements
colors.add("yellow")
colors.remove("red")
print("\nModified colors:", colors)

Modified colors: {'yellow', 'blue', 'green'}

## 2. If Statements - Decision Making

**What are If Statements?**
- If statements allow your program to make decisions
- They execute different code based on conditions
- Conditions evaluate to `True` or `False` (boolean values)
- Python uses **indentation** to define code blocks

### 2.1 Basic If Statement Structure

```python
if condition:
    # Code to execute if condition is True
    pass
elif another_condition:  # Optional
    # Code to execute if another_condition is True
    pass
else:  # Optional
    # Code to execute if all conditions are False
    pass
```

In [34]:
# Simple if statement
age = int(input('Enter your Age : '))

if age >= 18:
    print("You are an adult!")

Enter your Age : 27
You are an adult!
This line always executes

In [35]:
# If-else statement
temperature = float(input('Enter the temperature : '))

if temperature > 30:
    print("It's hot outside!")
else:
    print("It's not too hot.")

Enter the temperature : 27.5
It's not too hot.

In [37]:
# If-elif-else statement
score = float(input('Enter your score : '))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"
print(f"Score: {score}, Grade: {grade}")

Enter your score : 80
Score: 80.0, Grade: B

### 2.2 Comparison Operators

| Operator | Description | Example |
|----------|-------------|----------|
| `==` | Equal to | `x == 5` |
| `!=` | Not equal to | `x != 5` |
| `>` | Greater than | `x > 5` |
| `<` | Less than | `x < 5` |
| `>=` | Greater than or equal | `x >= 5` |
| `<=` | Less than or equal | `x <= 5` |

In [38]:
# Comparison operators examples
x = 10
y = 5

print(f"x = {x}, y = {y}")
print(f"x == y: {x == y}")
print(f"x != y: {x != y}")
print(f"x > y: {x > y}")
print(f"x < y: {x < y}")
print(f"x >= y: {x >= y}")
print(f"x <= y: {x <= y}")

x = 10, y = 5
x == y: False
x != y: True
x > y: True
x < y: False
x >= y: True
x <= y: False

In [39]:

# String comparisons
name = "Alice"
if name == "Alice":
    print("\nHello, Alice!")

Hello, Alice!

In [40]:
# Checking if value is in a list
fruits = ["apple", "banana", "orange"]
if "banana" in fruits:
    print("We have bananas!")

We have bananas!

### 2.3 Logical Operators

| Operator | Description | Example |
|----------|-------------|----------|
| `and` | Both conditions must be True | `x > 5 and y < 10` |
| `or` | At least one condition must be True | `x > 5 or y < 10` |
| `not` | Reverses the boolean value | `not x > 5` |

In [41]:
# Logical operators examples
age = 25
has_license = True

# AND operator
if age >= 18 and has_license:
    print("You can drive!")

You can drive!

In [42]:
# OR operator
weather = "sunny"
if weather == "sunny" or weather == "cloudy":
    print("Good day for a walk!")

Good day for a walk!

In [44]:
# Complex conditions
score = 85
attendance = 90

if (score >= 80 and attendance >= 85) or score >= 95:
    print("Excellent performance!")
else:
    print("Good effort, keep improving!")

Excellent performance!

### 2.4 Nested If Statements (Exlplore by yourself)

You can put if statements inside other if statements to create more complex decision trees.

In [ ]:
# Nested if statements
weather = "sunny"
temperature = 25

if weather == "sunny":
    print("It's sunny!")
    if temperature > 25:
        print("Perfect for swimming!")
    elif temperature > 15:
        print("Great for a picnic!")
    else:
        print("Might need a jacket.")
else:
    print("Not sunny today.")
    if weather == "rainy":
        print("Don't forget your umbrella!")

# Alternative using logical operators (often cleaner)
if weather == "sunny" and temperature > 25:
    print("\nAlternative: Perfect beach weather!")
elif weather == "sunny" and temperature > 15:
    print("\nAlternative: Nice day for outdoor activities!")

## 3. For Loops - Iteration and Repetition

**What are For Loops?**
- For loops allow you to repeat code multiple times
- They iterate (go through) sequences like lists, strings, ranges
- Very useful for processing collections of data
- Python's for loops are "for-each" style - they go through each item

### 3.1 Basic For Loop Structure

```python
for item in sequence:
    # Code to execute for each item
    pass
```

In [45]:
# Iterating through a list
fruits = ["apple", "banana", "orange", "grape"]

print("My favorite fruits:")
for fruit in fruits:
    print(f"- {fruit}")

My favorite fruits:
- apple
- banana
- orange
- grape

In [46]:
# Iterating through a string
word = "Python"
print(f"\nLetters in '{word}':")
for letter in word:
    print(letter)

Letters in 'Python':
P
y
t
h
o
n

In [47]:
# Using range() to iterate numbers
print("\nCounting to 5:")
for number in range(1, 6):  # range(start, stop)
    print(number)

Counting to 5:
1
2
3
4
5

In [49]:
print("\nEven numbers from 0 to 10:")
for number in range(0, 11, 2):  # range(start, stop, step)
    print(number)

Even numbers from 0 to 10:
0
2
4
6
8
10

### 3.2 Iterating Through Dictionaries

Dictionaries can be iterated in different ways:
- Iterate through keys
- Iterate through values  
- Iterate through key-value pairs

In [51]:
student_grades = {
    "Alice": 95,
    "Bob": 87,
    "Charlie": 92,
    "Diana": 98
}

# Iterate through keys (default behavior)
print("Student names:")
for name in student_grades:
    print(f"- {name}")

# Iterate through values
print("\nGrades:")
for grade in student_grades.values():
    print(f"- {grade}")

# Iterate through key-value pairs
print("\nStudent grades:")
for name, grade in student_grades.items():
    print(f"- {name}: {grade}")

Student names:
- Alice
- Bob
- Charlie
- Diana

Grades:
- 95
- 87
- 92
- 98

Student grades:
- Alice: 95
- Bob: 87
- Charlie: 92
- Diana: 98

In [52]:

# Finding the highest grade
highest_grade = 0
best_student = ""

for name, grade in student_grades.items():
    if grade > highest_grade:
        highest_grade = grade
        best_student = name

print(f"\nHighest grade: {best_student} with {highest_grade}")

Highest grade: Diana with 98

## 4. Functions - Creating Reusable Code

**What are Functions?**
- Functions are reusable blocks of code that perform specific tasks
- They help organize code and avoid repetition
- Functions can take inputs (parameters) and return outputs
- They make code more modular and easier to maintain

### 4.1 Basic Function Structure

```python
def function_name(parameters):
    """
    Optional docstring to describe the function
    """
    # Function body
    return value  # Optional
```

In [55]:
# Simple function without parameters
def greet():
    """Prints a greeting message"""
    print("Hello, World!")

# Call the function
greet()

Hello, World!

In [56]:
# Function with parameters
def greet_person(name):
    """Greets a specific person"""
    print(f"Hello, {name}!")

greet_person("Alice")
greet_person("Bob")

Hello, Alice!
Hello, Bob!

In [57]:
# Function with multiple parameters
def introduce(name, age, city):
    """Introduces a person with their details"""
    print(f"Hi, I'm {name}. I'm {age} years old and I live in {city}.")

introduce("Charlie", 25, "New York")
introduce("Diana", 30, "London")

Hi, I'm Charlie. I'm 25 years old and I live in New York.
Hi, I'm Diana. I'm 30 years old and I live in London.

In [53]:
def even_or_odd(number):
    """Determines if a number is even or odd"""
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [54]:
n=int(input('Enter a number : '))
print(f"{n} is {even_or_odd(n)}")

Enter a number : 10
10 is Even

### 4.2 Functions with Return Values

Functions can return values using the `return` statement. This allows you to use the result of a function in other parts of your code.

In [58]:
# More complex function
def calculate_area(length, width):
    """Calculates the area of a rectangle"""
    area = length * width
    return area

room_area = calculate_area(10, 12)
print(f"Room area: {room_area} square meters")

Room area: 120 square meters

In [59]:

# Function that returns multiple values
def get_name_parts(full_name):
    """Splits a full name into first and last name"""
    parts = full_name.split()
    first_name = parts[0]
    last_name = parts[-1] if len(parts) > 1 else ""
    return first_name, last_name

first, last = get_name_parts("John Doe")
print(f"First name: {first}, Last name: {last}")

First name: John, Last name: Doe